.features{
    max-width: 1440px;
    margin: 0 auto; 
}
.div-list{
    display: flex;
    margin-top: 92px;
    justify-content: center;
}
.div-item{
    width: 174.467px;
    height: 137px;
    padding-top: 34px;
    margin-right: 59px;
    border-radius: 6.606px;
    border: 0.661px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0px 13.211169242858887px 26.422338485717773px 0px rgba(0, 0, 0, 0.06);
}
.div-item span{
    font-size: 40px;
}
.div-item:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.4s;
}
.div-item p:first-child, p:last-child{
    color: #42454A;
    text-align: center;
    font-family: Ubuntu;
}
.div-item p:first-child{
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
}
.div-item p:last-child{
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
}